body {
  margin: 0;
  font-family: 'IRANYekan', Tahoma, sans-serif;
  color: #123527;
  background: #FFFFFF;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
